version: "3.9"

services:
  # app:
  #   build: .
  #   env_file:
  #     - .env
  #   container_name: teachHelperBack
  #   restart: always
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - db
  #   volumes:
  #     - .:/app

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minIo:
    image: minio
    restart: always
    env_file:
      - .env
    ports:
     - 9000:9000
     - ${MINIO_PORT}:9001
    volumes:
     - ./data/minio_data:/bitnami/minio/data
    environment:
     MINIO_ROOT_USER: ${MINIO_USER}
     MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    command: server /bitnami/minio/data --console-address :9001

volumes:
  pgdata:

